/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/menuStyles.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.header {
    background-color: #2f3d5c;
    padding: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.li {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
}
